<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EsportaInventarioPerEmil.Properties.Settings.ConnectionString"
            connectionString="Dsn=Iseries;uid=armando;pwd=armando" providerName="System.Data.Odbc" />
    </connectionStrings>
</configuration>